<html>
    <head>
        <title>Database Error</title>

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/skeleton.css">
    </head>
    <body>
        <h1>Database error</h1>

        <p>{{ex}}</p>
    </body>
</html>