<html>
    <head>
        <title>INKAI 4ยบ| </title>

        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/skeleton.css">
    </head>
    <body>
        <div class="container">
            <h1>{{foo}}</h1>

            <h2>Tables</h2>
            <ul>
                {{#each tablas}}
                    <li><a href="table/{{this}}">{{this}}</a></li>
                {{/each}}
            </ul>
        </div>
    </body>
</html>