<html>
    <head>
        <title>INKAI 4ยบ|< </title>
        
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/skeleton.css">
    </head>
    <body>
        <h1>{{foo}}</h1>
    </body>
</html>