<html>
    <head>
        <title>INKAI 4ยบ| </title>

        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/skeleton.css">
    </head>
    <body style="height=100%;">
        <div class="container" style="padding-top: 8em;">

            <div class = "row">
                <div class = "one-half column">
                    <h1>{{foo}}</h1>
                    <p style="font-size: 2.7rem;">Design and run Crosswalks for your DBs with the Inkai ETL Tool</p>
                    <a class="button button-primary" href="/tables">Start!</a>
                </div>
                <div class = "one-half column">
                    <img class="u-max-full-width" src="/images/inkai_logo.jpg">
                </div>
            </div>   
        </div>

        <div class="container" style="position:fixed; bottom:0px">
            <footer style="background-color:aliceblue;">
                <h5>What's a Crosswalk?</h5>
                <p>Check <a href="https://en.wikipedia.org/wiki/Schema_crosswalk" target="_blank">the Schema Crosswalk article</a> at Wikipedia to know more</p>                
            </footer>
        </div>
    </body>
</html>