<html>
    <head>
        <title>Table Crosswalk||| {{table}} </title>

        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/skeleton.css">
    </head>
    <body>
        <h1>Crosswalk: {{table}}</h1>

        <h2>Fields</h2>
        <ul>
            {{#each fields}}
                <li>{{this}}
            {{/each}}
        </ul>
    </body>
</html>